//引入清除默认样式
@import 'reset.scss';

//修改滚动条默认样式
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    width: 10px;
    background: $base-menu-background;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: yellowgreen;
    border-radius: 10px;
}


